/**
 * Tooltip
 */

:root {
  --tt-transition:      opacity 0.2s ease-in;
  --tt-colorBackground: #111;
  --tt-colorForeground: #ddd;
  --tt-borderRadius:    0;
  --tt-opacity:         1;
}

.tooltip {
  box-sizing: border-box;
  position: relative;
}

.tooltip::before,
.tooltip::after {
  box-sizing: inherit;
  display: inline-block;
  visibility: hidden;
  position: absolute;
  z-index: 99999;
  font: inherit;
  line-height: inherit;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  white-space: nowrap;
  border: none;
  opacity: 0;
  pointer-events: none;
  transition: var(--tt-transition);
}

.tooltip::before {
  padding: 0.5rem;
  font-size: 1rem;
  content: attr(data-tooltip);
}

.tooltip::after {
  border: 0.5rem solid transparent;
  content: "";
}

.tooltip:hover::before,
.tooltip:hover::after {
  visibility: visible;
}

.tooltip--base::before {
  background-color: var(--tt-colorBackground);
  color: var(--tt-colorForeground);
  border-radius: var(--tt-borderRadius);
}

.tooltip--base:hover::before,
.tooltip--base:hover::after {
  opacity: var(--tt-opacity);
}

.tooltip--top::before,
.tooltip--top::after {
  top: auto;
  bottom: 100%;
  right: 50%;
  left: auto;
  transform: translateX(50%);
}

.tooltip--top::before {
  margin: 0 0 1rem 0;
}

.tooltip--top::after {
  border-top-color: var(--tt-colorBackground);
}

.tooltip--bottom::before,
.tooltip--bottom::after {
  top: 100%;
  bottom: auto;
  right: 50%;
  left: auto;
  transform: translateX(50%);
}

.tooltip--bottom::before {
  margin: 1rem 0 0 0;
}

.tooltip--bottom::after {
  border-bottom-color: var(--tt-colorBackground);
}

.tooltip--right::before,
.tooltip--right::after {
  top: auto;
  bottom: 50%;
  left: 100%;
  right: auto;
  transform: translateY(50%);
}

.tooltip--right::before {
  margin: 0 0 0 1rem;
}

.tooltip--right::after {
  border-right-color: var(--tt-colorBackground);
}

.tooltip--left::before,
.tooltip--left::after {
  top: auto;
  bottom: 50%;
  left: auto;
  right: 100%;
  transform: translateY(50%);
}

.tooltip--left::before {
  margin: 0 1rem 0 0;
}

.tooltip--left::after {
  border-left-color: var(--tt-colorBackground);
}
